  <div class="p-8 bg-gray-200 rounded-3xl justify-end flex flex-col col-span-full">
    <div>
      <p class="text-sm text-black">
        © 2024 Rudra Saraswat. Website licensed under GPL-3.0.
      </p>

      <div class="gap-x-8 gap-y-6 mt-6">
        <div>
          <p class="text-sm text-gray-600 lg:col-span-2">
            TheSystem is not affiliated with The Linux Foundation, nor is it endorsed or sponsored by them. This project is WIP.
          </p>
        </div>
      </div>
    </div>
  </div>
