<div class="flex flex-col gap-2">
    <div id="inclusions"
      class="bg-gray-200 rounded-3xl p-8 flex flex-col items-center justify-center scroll-mt-24"
    >
      <div>
        <!--<div>
          <h2
            class="text-2xl tracking-tighter font-light lg:text-7xl text-orange-600  font-display"
          >
            What's in the box?
          </h2>
        </div>-->
        <div>
          <p class="text-3xl text-black xl:text-2xl"> <!--no mt-8-->

Included in TheSystem is native support for Android apps (through WayDroid, MicroG and F-Droid), the Murena (/e/) cloud services, apps/packages from several Linux distributions (including Ubuntu, Fedora and Arch Linux) & web app support from the /e/ store.
          </p>
        </div>
      </div>
    </div>

    <div
      class=" flex flex-col  overflow-hidden justify-center w-full bg-blue-300 h-full rounded-3xl p-8"
    >
      <div>
        <div class="relative flex flex-col h-full text-left">
          <div class="relative z-10 h-full">
            <p
              class="font-bold text-black font-medium text-2xl lg:text-2xl text-balance flex gap-2 items-center text-left mx-auto"
            >
              TheSystem is declarative. The state of your system can be defined through a single, simple configuration file. This also allows for incredibly easy vendor customization, and helps with deploying multiple computer with the same configuration.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
