<div class="bg-green-600 rounded-3xl p-8">
  <p class="text-3xl leading-6 text-white font-display">TheSystem</p>
  <p class="text-2xl mt-8 text-white">A desktop companion to your mobile phone. (WIP)</p>
  <h2
    class="text-5xl mt-8 tracking-tighter  font-display font-normal md:text-7xl lg:text-6xl xl:text-6xl text-blance text-white">
      A private, intuitive Operating System
  </h2>
  <p class="text-2xl mt-8 text-white">
    TheSystem aims to prop up a bridge between the current FOSS mobile distros on the one hand, and the PC on the other hand. 
  </p>
</div>
