<div
  class=" flex flex-col  overflow-hidden justify-center w-full bg-amber-300 h-full rounded-3xl p-8"
>
  <div>
    <div class="relative flex flex-col h-full text-left">
      <div class="relative z-10 h-full">
        <p
          class="font-bold text-black text-6xl lg:text-5xl text-balance flex gap-2 items-center text-left mx-auto"
        >
          Immutable.
          <br>
          Atomic.
          <br>
          Declarative.
        </p>
        <p
          class="font-bold text-black font-medium text-2xl lg:text-2xl text-balance flex gap-2 items-center text-left mx-auto mt-4"
        >
          An immutable system is one where system files cannot be modified. Atomic (transactional) updates prevent your system from ever breaking, as system updates are only applied if they are successful.
        </p>
        <p
          class="font-bold text-black font-medium text-2xl lg:text-2xl text-balance flex gap-2 items-center text-left mx-auto mt-2"
        >
          Moreover, atomic updates do not require any user intervention, and updates are automatically downloaded in the background and applied on the next boot (without wasting any of your time).
        </p>
      </div>
    </div>
  </div>
</div>
