<div class="bg-blue-400 rounded-3xl p-8 text-2xl text-white">
  <div class="space-y-4">
    <p>
        <b>TheSystem</b> is:
    </p>
  </div>
  <ul class="list-disc ml-3 mt-3">
    <li>A privacy-friendly operating system with unparalleled levels of integration with your mobile phone, including native support for Android apps.</li>
    <li>Incredibly customizable as it is fully declarative and supports using <b>any</b> Linux distro (within containers).</li>
  </ul>
  <p class="mt-3">
    This will make it super attractive to mobile OS makers to use it as a basis for making a customized PC OS to accompany their mobile OS, so that they can offer their users Apple-like continuum of operating system, from mobile to tablet to PC.
  </p>
  <p class="mt-3">
    TheSystem shall, thus, unite mobile operating systems with Linux, as users (from consumers to big organizations) increasingly appreciate having <b>ONE</b> integrated experience from mobile to PC. This would also, in a way, help Europe break free from the clutches of American and Asian tech, and move on the path of digital sovereignty.
  </p>
</div>
